@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
  /*Scala di Grigi*/
  --extra-light-gray: #f8f9faff;
  --soft-light-gray: #f2f2f3;
  --light-gray: rgb(158, 164, 169);
  --primary-gray: #adb5bdff;
  --soft-dark-gray: #89949e;
  --dark-gray: #6c757dff;
  --extra-dark-gray: #343a40ff;
  /* Global */
  --letter-spacing: 0.08rem;
  --transition: all 0.2s ease;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --img-radius: 0.25rem 0.25rem 0rem 0rem;
  --card-radius: 0rem 0rem 0.25rem 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--nav-colors-2);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Dark mode */

.light-mode {
  --nav-colors-2: #E9F1F7;
  --text-color: #0A369D;
  --btn-up: #1a44a5;
  --input-back:#92c0dda0;
  --text-input:#1d87a7;
  --pallino:#00bfff;
  --button-input:#00bfff;
  --background-card:#a8c1c8;
}

.dark-mode {
  --nav-colors-2: #4c4b4b;
  --text-color: #0ed29b;
  --btn-up: #0ed29b;
  --input-back:#1a1a1a;
  --text-input:#0ed29b;
  --pallino:#0ed29b;
  --button-input:#0ed29b;
  --background-card:#0ed29b;
}





/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--primary-gray);
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 753px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  /* display: inline-block; */
  color: var(--left-input);
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover{
  background-color: var(--button-input);
  transition: 1s;
}

.icon-btn {
  padding: 0.4rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
  transition: var(--btn-transition);
}

.nav-icon {
  color: var(--trypan-blue-2);
}

.icon {
  font-size: 1rem;
  color: black;
}

.underline,
.topline {
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 80%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.topline {
  top: -13px;
}

/*
====================
NAV STYLE
====================
*/

.nav {
  background-color: var(--nav-colors-2);
  height: 4rem;
  box-shadow: var(--light-shadow);
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
}

.nav-header {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  margin-bottom: 0.1rem;
  color: var(--trypan-blue-2);
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav-toggler {
  font-size: 1.5rem;
  padding-bottom: 0;
  align-self: center;
  transition: var(--btn-transition);
}

.nav-toggler:hover .nav-icon {
  transform: rotateZ(90deg);
}

.nav-links {
  display: none;
}

.nav-link {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  white-space: nowrap;
}

.nav-text {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.socialTop {
  display: none;
}

.nav-item {
  transition: var(--btn-transition);
}

.nav-item:hover {
  color: var(--flickr-pink);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
====================
NAV STYLE MEDIA QUERY
====================
*/

@media screen and (min-width: 992px) {
  .nav {
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    height: 5rem;
  }

  .container {
    width: 90%;
  }

  .nav-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-header {
    text-align: left;
    width: fit-content;
  }

  .links-container {
    justify-self: center;
  }
  .nav-toggler {
    display: none;
  }

  .nav-links {
    width: 50%;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .socialTop {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    font-size: 1.2rem;
  }
}

/*
====================
END NAV STYLE
====================
*/

.btn-group {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.btn-primary {
  background-color: var(--btn-up);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
  width: fit-content;
}

.btn-primary:hover {
  background-color: var(--btn-up);
  transform: scale(1.02);
}

.row{
  display: flex;
  flex-direction: row;
}



/*
====================
SIDEBAR STYLE
====================
*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: var(--nav-colors-2);
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar-content {
  height: 50%;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 2rem;
}

.sidebar .nav-header {
  margin: 0;
  height: 4rem;
}

.sidebar .nav-header .nav-icon {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.sidebar-links {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: flex-start;
  gap: 1rem;
  font-size: 1.2em;
}

.sidebar-links .nav-item {
  width: 100%;
  padding: 0.5rem 0rem;
}

.sidebar-social {
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.5rem;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.nav-item:hover .nav-link .nav-icon {
  transform: scale(1.1);
  color: var(--flickr-pink) !important;
}

.show-sidebar {
  transform: translateX(0%) !important;
}

/*
====================
SIDEBAR MEDIA QUERY STYLE
====================
*/

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/*
====================
END SIDEBAR STYLE
====================
*/


/* SKILL CARD--------------------------------- */

.skill-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .div-2 {
    grid-template-columns: 1fr;
  }
}

.cart{
  background-color: transparent;
  font-weight: bolder;
  height: 160px;
  width: 160px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

/* END SKILL CARD--------------------- */





/* CARD------------------------- */
.position-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
}

.lighter {
  font-size: 0.9em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: lighter;
  color: grey;
}

/*DELETE THIS TWO LINE*/
.delete {
  background-color: var(--background-card);
}

.card-img div {
  width: 90%;
}
/*IF USING IMAGES*/

.card {
  background-color: white;
  color:var(--input-back) ;
  width: 300px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img div {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}


/* END CARD------------ */



/* form contact */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: var(--input-back);
  color: var(--text-input);
  border: 1px solid var(--text-color);
  grid-column: 8/-1;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: var(--text-input);
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color:var(--pallino) ;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: var(--text-input);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: var(--button-input);
}

.submit:hover {
  background: transparent;
  transition: 0.5s;
  color: var(--button-input);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* END FORM---------------- */


.hero-container {
  height: 100%;
}

/*=== HOME HERO ===*/

.home-hero {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  height: 100vh;
  margin-left: 10px;
  align-items: center;
}

.home-hero-text {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
  color: var(--text-color);
}

.home-hero-title {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  gap: 1rem;
}

.home-hero-title h2 {
  font-weight: 900;
}

.home-hero-title h4 {
  font-variant: small-caps;
}

.home-hero-text p {
  align-self: center;
  color: var(--light-gray);
  max-width: 70ch;
  line-height: 1.6;
}

.home-hero-text .btn {
  align-self: center;
  border-radius: 22px;
}

/*=== HOME HERO MEDIA ===*/
@media screen and (min-width: 992px) {
  .home-hero {
    grid-template-columns: repeat(12, 1fr);
  }

  .home-hero-text {
    grid-column: 1/7;
    gap: 3rem;
    text-align: left;
    place-items: start;
  }

  .home-hero-text p {
    align-self: flex-start;
    color: var(--light-gray);
    max-width: 70ch;
    line-height: 1.6;
  }

  .home-hero-text .btn {
    align-self: unset;
  }

  .home-hero-img {
    grid-column: 8/-1;
  }
}


/* 
==========================
SKILLS
==========================
*/

.introduce-skill{
  text-align: center;
  flex-direction: column;
}



/* 
==========================
END SKILLS
==========================
*/


/*
====================
FOOTER STYLE
====================
*/
.footer {
  background-color: var(--input-back);
  height: 4rem;
}

.footer-container {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: center;
  height: 100%;
  font-variant: small-caps;
  color: var(--text-color);
}

.footer-text {
  font-size: 1.03em !important;
}

/*
====================
END FOOTER STYLE
====================
*/

/* SPINNER STYLE AND ANIMATION*/


.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner {
  display: inline-block;
  position: absolute;
  width: 80px;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner div {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #004dff;
  border-radius: 50%;
  animation: spinner-4t3wzl 2s infinite linear;
}

.spinner div:nth-child(1) {
  left: 0;
  animation-delay: 0.15s;
  background-color: rgba(0, 77, 255, 0.9);
}

.spinner div:nth-child(2) {
  left: 25%;
  animation-delay: 0.3s;
  background-color: rgba(0, 77, 255, 0.8);
}

.spinner div:nth-child(3) {
  left: 50%;
  animation-delay: 0.45s;
  background-color: rgba(0, 77, 255, 0.7);
}

.spinner div:nth-child(4) {
  left: 75%;
  animation-delay: 0.6s;
  background-color: rgba(0, 77, 255, 0.6);
}

.spinner div:nth-child(5) {
  left: 100%;
  animation-delay: 0.75s;
  background-color: rgba(0, 77, 255, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateX(-100%);
  }

  100% {
    transform: rotate(360deg) translateX(-100%);
  }
}


.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-3-1 14:42:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.swiper {
  width:400px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px solid var(--button-input);
  border-radius: 10px;
}

@media screen and (max-width: 690px) {
  .swiper{
    width: 300px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-pagination-bullet-active{
  opacity: 1;
  background-color: var(--text-color) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

